.col-1{
    padding-top: 15px;
    width: calc(100%/12);
    height: 50px;
    text-align: center;
    border: solid 1px white;
}

.col-2-2{
    padding-top: 15px;
    width: calc(100%/5);
    height: 50px;
    text-align: center;
    border: solid 1px white;
}

.col-2-5{
    padding-top: 15px;
    width: calc(100%/2);
    height: 50px;
    text-align: center;
    border: solid 1px white;
}

.container-col-12{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: solid 1px white;
}

.col-3-8{
    padding-top: 15px;
    width: calc(100%/0.25);
    height: 50px;
    text-align: center;
    border: solid 1px white;
}

.col-3-2{
    padding-top: 15px;
    width: calc(100%/1);
    height: 50px;
    text-align: center;
    border: solid 1px white;
}



