.col-1{
    padding-top: 15px;
    width: calc(100%/12);
    text-align: center;
    border: solid 1px white;
}

.col-2-2{
    padding-top: 15px;
    width: calc(100%/5);
    text-align: center;
    border: solid 1px white;
}

.col-2-5{
    padding-top: 15px;
    width: calc(100%/2);
    text-align: center;
    border: solid 1px white;
}

.col-3-8{
    padding-top: 15px;
    width: calc(100%/0.25);
    text-align: center;
    border: solid 1px white;
}

.col-3-2{
    padding-top: 15px;
    width: calc(100%/1);
    text-align: center;
    border: solid 1px white;
}

.col-4-1{
    padding-top: 15px;
    width: calc(100%/3.3);
    text-align: center;
    border: solid 1px white;
}

.col-4-2{
    padding-top: 15px;
    width: calc(100%/1.65);
    text-align: center;
    border: solid 1px white;
}

.col-4-6{
    padding-top: 15px;
    width: calc(100%/0.55);
    text-align: center;
    border: solid 1px white;
}

.nested-2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: calc(100%/3);
    text-align: center;
}

.nested-8{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: calc(100%/1);
    text-align: center;
}

.nested-6{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: calc(100%/0.55);
    text-align: center;
}







