*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-col-1{
    height: 50px;
    display: flex;
    justify-content: space-around;
    background-color: #006CFA;
    color: white;
}

.container-col-2{
    height: 50px;
    display: flex;
    background-color: #006CFA;
    color: white;
}

.container-col-12{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #006CFA;
    color: white;
    border: solid 1px white;
}

.container-col-3{
    height: 50px;
    display: flex;
    background-color: #006CFA;
    color: white;
}

.container-col-4{
    height: 50px;
    display: flex;
    background-color: #006CFA;
    color: white;
}

.container-col-5{
    display: flex;
    background-color: #006CFA;
    color: white;
    border: solid 1px white;
}

.container-col-5-1{
    display: flex;
    background-color: #006CFA;
    color: white;
    padding: 10px;
    width: calc(100%/2);
    gap: 10px;
    border: solid 1px white;
}

.container-col-5-2{
    padding: 10px;
    width: calc(100%/2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: solid 1px white;
}

.nested-2{
    background-color: #00E165;
}

.nested-8{
    background-color: #00E165;
}

.nested-6{
    background-color: #00E165;
}